colorlog==6.10.1
pycares==5.0.1 # Fix for missing ares_query_a_result.
homeassistant==2025.12.4
pip>=21.3.1
numpy==2.4.0
bumpver>=2024.1130
ruff==0.14.10
chardet==5.2.0
debugpy==1.8.19
zlib_ng==1.0.0
isal==1.8.0
mutagen==1.47.0
pipeline==0.1.0
pymicro_vad==2.0.1
pyspeex_noise==2.0.0